<ion-view title="Magnetic Heading: {{myHeading}}" hide-nav-bar="false" hide-back-button="true" id="page9" class="myCameraContent">
    <ion-content padding="false" class=" manual-remove-top-padding has-footer" scroll="false">

      <br><br><br><br><br><br>

      <a class=" button button-positive  button-block icon-right ion-ios-camera-outline" id="takeSnapBtn" ng-click="takeSnap()" ng-show='myPhotoButton'>Capture</a>
      <a class=" button button-assertive button-block icon-right ion-ios-close-outline" id="cancelBtn" ng-click="cancelSnap()" ng-show='myPhotoButton'>Cancel</a>
<br>
      <div id="arrow"></div>
    </ion-content>
  <div class="bar bar-footer text-center" >

    <pre >GPS Data:<br>{{myLat}}|{{myLng}}</pre>
  </div>

</ion-view>

