<ion-view title="photoSurvey App" hide-back-button="true" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/cORPvy28SSOWOke1HtpA_logo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div>
            <hr>
            <p>
                Welcome to the Photo Survey App.
            </p>
            <p>
                This will guide you step by step on how to complete a photo survey for your locaiton.
            </p>
            <p>You will need to take various images of the property as well as fill out a questionaire on the property status.</p>
            <p>
                Click below to begin.
            </p>
        </div>
        <a ui-sref="propertyAddress" id="photoSurveyApp-button1" class=" button button-positive  button-block ">Begin Survey</a>
    </ion-content>
</ion-view>